node_modules/
dist/
__pycache__/
.pytest_cache/
.venv/
*.pyc
.env
frontend/.env
backend/.env
backend-node/.env
backend-node/node_modules/
electron-app/node_modules/
electron-app/dist/
electron-app/dist-electron/
electron-app/.env
